* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-size: 3.5rem;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
  padding: 80px 0px;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}

.contact {
  width: 50%;
}

.contact_text {
  line-height: 2rem;
  width: 80%;
  /* word-spacing: 6px; */
  /* letter-spacing: 1px; */
}

.form {
  width: 50%;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0px 25px;
}

textarea {
  width: 100%;
  margin: 8px 0px 10px;
  padding: 10px;
}

button {
  color: white;
  background-color: hsl(12, 88%, 59%);
  padding: 20px;
  border: none;
}

button:hover {
  background-color: hsl(12, 88%, 69%);
  box-shadow: 0px 2px 5px 0px hsl(12, 88%, 69%);
  cursor: pointer;
}

.required::after {
  content: "*";
}
